<!DOCTYPE html>
<div>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <title>@ViewData["Title"] - Ketum</title>

    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    

  <!-- Main font -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900" rel="stylesheet">

  <!-- Icons. Uncomment required icon fonts -->
  <!-- <link rel="stylesheet" href="assets/vendor/fonts/fontawesome.css"> -->
  <link rel="stylesheet" href="~/assets/vendor/fonts/ionicons.css">
  <!-- <link rel="stylesheet" href="assets/vendor/fonts/linearicons.css"> -->
  <!-- <link rel="stylesheet" href="assets/vendor/fonts/open-iconic.css"> -->
  <!-- <link rel="stylesheet" href="assets/vendor/fonts/pe-icon-7-stroke.css"> -->

  <!-- Core stylesheets -->
  <link rel="stylesheet" href="~/assets/vendor/css/bootstrap.css">
  <link rel="stylesheet" href="~/assets/vendor/css/appwork.css">
  <link rel="stylesheet" href="~/assets/vendor/css/theme-corporate.css">
  <link rel="stylesheet" href="~/assets/vendor/css/colors.css">
  <link rel="stylesheet" href="~/assets/vendor/css/uikit.css">

  <!-- Layout helpers -->
  <script src="~/assets/vendor/js/layout-helpers.js"></script>

  <!-- Libs -->

  <!-- `perfect-scrollbar` library required by SideNav plugin -->
  <link rel="stylesheet" href="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css">
  <link rel="stylesheet" href="~/assets/vendor/css/pages/authentication.css">

    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/dist/site.css" asp-append-version="true" />
    </environment>
</head>

<body>
<div class="page-loader">
    <div class="bg-primary"></div>
  </div>

  <!-- Content -->
@RenderBody()

  <!-- / Content -->

  <!-- Core scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="~/assets/vendor/libs/popper/popper.js"></script>
  <script src="~/assets/vendor/js/bootstrap.js"></script>
  <script src="~/assets/vendor/js/sidenav.js"></script>

  <!-- Libs -->
  <script src="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

  <!-- Demo -->
  <script src="~/assets/js/demo.js"></script>

  <!-- Main script -->

  <script src="~/assets/js/main.js"></script>
    @RenderSection("scripts", required: false)
</body>

</div>