@page "/"
@using Volo.Abp.MultiTenancy
@inherits KetumComponentBase
@inject ICurrentTenant CurrentTenant
@inject AuthenticationStateProvider AuthenticationStateProvider
<div class="container">
    <div class="p-5 text-center">
        <Badge Color="Color.Success" class="mb-4">
            <h5 class="m-1"> <i class="fas fa-rocket"></i> Congratulations, <strong>Ketum</strong> is successfully running!</h5>
        </Badge>

        <h1>Welcome to the KETUM</h1>

        <p class="lead px-lg-5 mx-lg-5">@L["LongWelcomeMessage"]</p>

        @if ( !CurrentUser.IsAuthenticated )
        {
            <a class="btn btn-outline-primary ml-2 mr-2" href="/authentication/login">
                <i class="fa fa-sign-in-alt"></i> @L["Login"]
            </a>
        }
        <a class="btn btn-outline-success ml-2 mr-2" href="/monitors">
            <i class="fas fa-chart-line"></i> @L["Monitors"]
        </a>
    </div>

    <div class="my-3 text-center">
        <h3>
            <a href="https://github.com/berkansasmaz/ketum/blob/master/docs/Contribution/Index.md" target="_blank" class="btn btn-link px-1">Let's improve KETUM!&nbsp;<i class="fas fa-code-branch"></i></a>
        </h3>
    </div>

    <div class="card mt-4 mb-5">
        <div class="card-body text-center">
            <div class="p-4">
                <h4 class="mb-3"><i class="fas fa-tools text-secondary d-block my-3 fa-2x"></i>  Feautres</h4>
                <h6>WEBSITE TESTING&nbsp;<i class="fas fa-desktop"></i></h6>
                <p>Our convenient platform allows you to monitor the health of your website effortlessly. The testing process is quick, reliable, and simple. You can receive your results in no time so that you don’t have to wonder about the status of your site!</p>
                <h6>TRACK HEALTH&nbsp;<i class="fas fa-heartbeat"></i></h6>
                <p>Ketum provides you with simple and easy-to-read charts that track your website’s health, and you will have access to charts displaying your uptime, response time, and other test results.</p>
                <h6>Instant Notifications&nbsp;<i class="fas fa-bell"></i></h6>
                <p>Never miss any problem on your website with our E-mail notifications.</p>
                <a href="https://github.com/berkansasmaz/ketum/tree/master/docs" target="_blank" class="btn btn-link px-1">More information <i class="fas fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
    
    <div class="mb-5 text-center">
        <p class="align-middle">
            <a href="https://github.com/berkansasmaz/ketum" target="_blank" class="mx-2"><i class="fab fa-github"></i><span class="text-secondary"> ketum</span></a>
        </p>
    </div>
</div>
